# DVC outputs
data/features/
models/
reports/validation/
reports/evaluation/
reports/registry/
mlruns/
mlflow.db

# Project boilerplate
project_template.py

# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints
research/*.ipynb
research/

.DS_Store
logs/
venv/

artifacts/*
/models
